In [3]:
a=10
print(a,type(a))
a=10.78
print(a,type(a))
a="hello"
print(a,type(a))
a=True
print(a,type(a))
a=None
print(a,type(a))
a=[1,2,3,4]
print(a,type(a))
a=(1,2,3,4)
print(a,type(a))
a={1,2,3,4}
print(a,type(a))
a={"a" :1, "b" :2}
print(a,type(a))

10 <class 'int'>
10.78 <class 'float'>
hello <class 'str'>
True <class 'bool'>
None <class 'NoneType'>
[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{1, 2, 3, 4} <class 'set'>
{'a': 1, 'b': 2} <class 'dict'>

In [5]:
a=5
b=10
c=a+b
print(a,b,c)
print(c, sep=' ')

5 10 15
15

In [7]:
a=5
b=10
c=a+b
print(a,end="+")
print(b)
print(c)

5+10
15

In [11]:
print=10

In [12]:
print(a)

TypeError: 'int' object is not callable

In [13]:
del print

In [8]:
print(a)

5

In [3]:
name='Pankaj'
age=21
city='lucknow'
print(f' my name is {name},i am {age} year old,i live in {city}')

 my name is Pankaj,i am 21 year old,i live in lucknow

In [6]:
x=10
y=3
z=x/y
print(f'{x}/{y}={z:.2f}')
print(x,'/',y, '=',round(z,2))

10/3=3.33
10 / 3 = 3.33

In [4]:
print(f'{name} {age}')
print(f'{name:10} {age}')

Pankaj 21
Pankaj     21

In [5]:
n1='Akash'
n2='Pankaj'
n3='Gaurav'
a1,a2,a3=22,21,21
print(f'{n1:20} {a1}')
print(f'{n2:20} {a2}')
print(f'{n3:20} {a3}')

Akash                22
Pankaj               21
Gaurav               21