In [ ]:
Syntax
 ''' 
 for temp in iterable:
 stateent1
 '''
 statement n

In [1]:
range(10)

range(0, 10)

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(5,100,5):
    print(i, end=' ')

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [4]:
for i in range(10,0,-1):
    print(i, end=(' '))

10 9 8 7 6 5 4 3 2 1

In [5]:
data=[1,3,5,7,9,12]
for i in data:
    print(i, end=' ')

1 3 5 7 9 12

In [7]:
#break and continue
prices=[12,34,None,42,54,None,67,87,None]
for pr in prices:
    if pr is None:
        continue
    print(pr,end=' ')

12 34 42 54 67 87

In [8]:
for item in prices:
    if item is None:
        break
    print(item)
print('the end')

12
34
the end

In [10]:
for i in range(1,6):
    print(i)
    for j in range(1,4):
        print(i*j,end=' ')
    print()

1
1 2 3
2
2 4 6
3
3 6 9
4
4 8 12
5
5 10 15

-enumerate
-zip
-for-else

In [ ]:
#enumrate:- work but count at the same time

In [11]:
names=['Radha','Rohan','Madhu','Rajesh']
for name in enumerate(names):
    print(name)

(0, 'Radha')
(1, 'Rohan')
(2, 'Madhu')
(3, 'Rajesh')

In [12]:
for idx, name in enumerate (names):
    print(idx,name)

0 Radha
1 Rohan
2 Madhu
3 Rajesh

In [1]:
x=[1,2,3,4,1,2,3,4,1,2,3,4,5,6,7,8,6,4,5,4,3,3,2,1,1,2,3]
for i,v in enumerate(x):
    if i==10:
        break
    print(v)

1
2
3
4
1
2
3
4
1
2

In [5]:
for i in enumerate(x):
    if i==10:
        break
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 1)
(5, 2)
(6, 3)
(7, 4)
(8, 1)
(9, 2)
(10, 3)
(11, 4)
(12, 5)
(13, 6)
(14, 7)
(15, 8)
(16, 6)
(17, 4)
(18, 5)
(19, 4)
(20, 3)
(21, 3)
(22, 2)
(23, 1)
(24, 1)
(25, 2)
(26, 3)

In [4]:
for idx,i in enumerate(x):
    if i==10:
        break
    print(idx,i)

0 1
1 2
2 3
3 4
4 1
5 2
6 3
7 4
8 1
9 2
10 3
11 4
12 5
13 6
14 7
15 8
16 6
17 4
18 5
19 4
20 3
21 3
22 2
23 1
24 1
25 2
26 3

In [7]:
x=[1,2,3,4]
y=[5,6,7,8]
z=[2,3,6,6]
for i in zip(x,y,z):
    print(i)

(1, 5, 2)
(2, 6, 3)
(3, 7, 6)
(4, 8, 6)

In [8]:
for i,j,k in zip(x,y,z):
    print(i+j+k)

8
11
16
18

for-else 
        if all the iterations of the loop are completed without any break, then the else part is executed else part is not executed if the loop is terminated by a break statement.

In [9]:
for i in x:
    if i==13:
        break
    print(i)
else:
    print("completed without break")

1
2
3
4
completed without break

In [10]:
for i in x:
    if i==3:
        break
    print(i)
else:
    print("completed without break")

1
2

In [16]:
num=11
for i in range(2,num):
    print(f'{num}%{i}={num%i}')
    if num%i==0:
        print('not prime')
        break
else:
    print('prime')

11%2=1
11%3=2
11%4=3
11%5=1
11%6=5
11%7=4
11%8=3
11%9=2
11%10=1
prime