In [1]:
x=(12,45,65) # tuple creation
print(x)
print(type(x))

(12, 45, 65)
<class 'tuple'>

In [2]:
a=1,2,3,4 #tuple packing
print(a)

(1, 2, 3, 4)

In [3]:
w,x,y,z=a

In [6]:
print(w,x,y,z)
first,*rest=a #first value will be stored in first variable 
              # rest will be in rest variable as a list
print(first, rest)

1 2 3 4
1 [2, 3, 4]

In [9]:
fname,midname,lastname='Akash deep srivastava'.split()
print(fname,midname,lastname,sep='\n')

Akash
deep
srivastava

In [10]:
fname,*lastname='Akash deep srivastava'.split()
print(fname,lastname,sep='\n')

Akash
['deep', 'srivastava']

In [15]:
x=('apple', 'banana', 'cherry', 'banana','cherry')
x.count('banana')
x.count('avacado')

0

In [16]:
print(x.index('cherry'))

2

In [18]:
x=[1,2,3,40]
xt=tuple(x)
print(x,xt)
xl=list(xt)
xs=set(x)
xts=set(xt)
print(xl,xs,xts)

[1, 2, 3, 40] (1, 2, 3, 40)
[1, 2, 3, 40] {40, 1, 2, 3} {40, 1, 2, 3}

In [19]:
print(xt[-1])
print(xt[0])

40
1

Tuple are fater than list

SET

In [21]:
a={3,4,1,2,2,5,6,6,2}
print(a)

{1, 2, 3, 4, 5, 6}

In [22]:
b=set() #empty set
b.add('hello')
b.add('fellow')
b.add('jello')
b.add('mellow')
b.update({'yellow','cello'}) #add a iterable to a set 
print(b)

{'cello', 'yellow', 'fellow', 'hello', 'jello', 'mellow'}

In [23]:
b.discard('jello')
b.discard('mellow')
print(b)

{'cello', 'yellow', 'fellow', 'hello'}

Set Operations

In [24]:
a={1,2,3,4}
b={3,4,5,6}
c={1,2,3,4,5,6,7,8,9,10}
d={6,7,8,9,10}
a.union(b) # a|b

{1, 2, 3, 4, 5, 6}

In [25]:
a|b

{1, 2, 3, 4, 5, 6}

In [26]:
a.intersection(b)

{3, 4}

In [29]:
a.intersection(d)

set()

In [30]:
a.difference(b) #a-b

{1, 2}

In [31]:
a-d

{1, 2, 3, 4}

In [32]:
a.symmetric_difference(b) #a^b

{1, 2, 5, 6}

In [33]:
c.issuperset(d)

True

In [37]:
a.issubset(c)

True

In [41]:
a.isdisjoint(d)

True